/*Oumaima seguiar*/
  div{
  
 padding-top: 10px;
    width:300px;
    margin: 0 auto;
    text-align: center;
    background: #aaa0b6;
    height: 315px;
    border-radius: 10px;
    box-shadow: 15px 20px #899288;
    text-align: center;

  }

  input {
    width: 20%;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 30px;
    padding: 5px;

    
  }
  .text{
    width: 60%;
    height:42px ;
    background-color:#978699;
    color: white;
    border-color: rgba(255, 255, 255, 0.527);
    
  }

  .text:hover{
    background-color: #f0f0f0;
  }


  #sm{
    background-color: #978699;
}

  #cc{
    background: #899288;
    
    
}
  
  .button {
    font-size: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #B39EB5;
    color: rgba(255, 255, 255, 0.871);

  }
  
  .button:hover {
    background-color: #ccc;
  }
  #sm:hover{
    background-color: #ccc;
  }
  #cc:hover{
    background-color:#B39EB5 ;
  }